
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <img src="assets/image/vcw (2).png" width="112" height="28">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="employee" routerLinkActive="active" class="nav-link" >Employee List</a>
        </li>
        <li class="nav-item">
            <a routerLink="project" routerLinkActive="active"  class="nav-link">Our Projects </a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="project" routerLinkActive="active"  class="dropdown-item">Our Projects </a>
            <a routerLink="createProject" routerLinkActive="active"  class="dropdown-item">Add Project </a>            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        
        <li class="active collapase">
            <a cButton cDropdownToggle color="secondary">More</a>
            <ul cDropdownMenu>
           <li> <a [routerLink]="['project']" cDropdownItem>Our Projects </a></li>
            <li><a [routerLink]="['createProject']" cDropdownItem>Add Project </a>    </li>        
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    
  </nav>
  <h1 class="text-center">Employee app</h1>