<!-- <div class="container1">
    <div class="parent">
        <a routerLink="employee" routerLinkActive="active" class="navbar-item" >Employee List</a>
    </div>
    <div class="parent">
        <a routerLink="create-employee" routerLinkActive="active"  class="nav-item">Add Employee </a>
    </div>
    <div class="parent">
        <a routerLink="project" routerLinkActive="active"  class="nav-item">Our Projects </a>
    </div>
    <div class="parent">
        <a routerLink="createProject" routerLinkActive="active"  class="nav-item">Add Project </a>
    </div>

    <div>
        <img src="assets/image/vcw (2).png" width="112" height="28">
    </div>
</div> -->

<app-header></app-header>

<!-- <h1 class="text-center">Employee app</h1> -->
<div class="container d-flex flex-column min-vh-100">
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
                  