.parent{
    
    padding: 10px;
  
    display: flex;
    flex-wrap: wrap;
 
}
.nav-item{
    color:#467B8D;
    /* color:#040203; */
    font-weight: 600;
}
.text-center{
    font-family: fangsong;
}
.container1{
    background-color:#010A3D;
  display: flex;
  justify-content:flex-start;
}
