<h2>Employee List</h2>
<br>
    <!-- <h6>{{employee.project.length==0}}</h6> -->
    <h4 *ngIf="!employees" class="text-danger">No Employees Present</h4>
<table *ngIf="employees" class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th colspan=2>Actions</th>
       
    </tr>
    </thead>
    <tbody>
        <tr *ngFor =" let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.department}}</td>
            <td>
                <button (click)="updateEmployee(employee.id)" class="btn btn-info"> Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;"> Delete</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px;"> View</button>
            </td>
        </tr>
    </tbody>
</table>