<div>
<h2>{{project.title}} Project Detail</h2>
</div>
<div class="container1">
    <div class="child">
        <div>
            <div>
                <label> <b> Project ID:</b> {{project.id}}</label>
            </div>
            <div>
                <label> <b> Title:</b> {{project.title}}</label>
            </div>
            <div>
                <label> <b> Domain:</b> {{project.domain}}</label>
            </div>
            <div>
                <label> <b> Duration:</b> {{project.duration &nbsp;}}  Months</label>
            </div>
            <div>
                <label> <b> Project Admin:</b> {{project.admin.admin_name}}</label>
            </div>
        </div>
    </div>



<!-- 
<div>
    <table class="table" style= "column-width: auto;">
            <tr>
                <th>Id</th>
                <td>{{project.id}}</td> 
            </tr>            
            <tr>
                <th>Title</th>
                <td>{{project.title}}</td>
            </tr>                    
            <tr>
                <th>Domain</th>
                <td>{{project.domain}}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{project.duration}}</td>
            </tr>            
            <tr>
                <th>Admin</th>
                <td>{{project.admin.admin_name}}</td>
            </tr>  
            <tr colspan="3">
                <td>
                    <button  class="btn btn-info">view</button>
                </td> 
                <td>
                    <button  class="btn btn-info">view</button>
                </td> 
                <td>
                    <button  class="btn btn-info">view</button>
                </td> 
            </tr>                                
    </table>    
</div> -->