
<div class="parent">  
<div class="child">
    <h2>Projects List</h2>
     <h4 *ngIf="!projects" class="text-danger">No Projects Available</h4>
</div>
<div  *ngIf="projects"class="child">
</div>
</div>


<table *ngIf="projects" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Domain</th>
            <th>Duration</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.domain}}</td>
            <td>{{project.duration}}</td>
            <td>{{project.admin.admin_name}}</td>
            <td>
                <button (click)="projectDetail(project.id)" class="btn btn-info">view</button>
            </td>
        </tr>
    </tbody>
</table>



